body {
    background-color: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

table, td {
    border: 1px solid #444;
}

table td {
    padding: 10px;
}

table img {
    width: 80px;
}

a:hover {
    color: blue;
    cursor: pointer;
    
}